[2019-07-05 19:28] tclune opened #2 "One script to bind them all (apologies to Tolkien)"
We need a high-level script that automates as much as possible a vanilla checkout - configure - build.

[2019-07-19 13:03] mathomp4 opened #18 "The CVSTAG determiner is broken"
This code:
https://github.com/GEOS-ESM/GEOSadas/blob/758749b12c06c04d7c13dd27aefd7a36f1b47b13/src/Applications/GEOSdas_App/testsuites/CMakeLists.txt#L12-L30
is not quite good. It turns out it *always* picks up the latest tag if one exists, even if it's old.

[2019-07-19 14:46] mathomp4 opened #20 "Update ESMA_env version when rc file fix is merged"
When the `ESMA_env` is updated, update `Externals.cfg` with the update

[2019-07-22 13:30] #18 closed

[2019-07-23 12:46] #20 closed

[2019-07-24 13:29] mathomp4 commented on #2
I think this issue is at least fixed for now. I'll probably open an issue on GEOS-ESM/ESMA_env for upgrades needed.

[2019-07-24 13:29] #2 closed

[2019-08-06 14:28] mathomp4 opened #31 "CMake Step fails if build directory is outside of the clone"
As found by @kgerheiser and @aoloso, if your `build/` directory isn't in the clone, CMake fails. The fix is simple.

[2019-08-06 14:34] mathomp4 commented on #31
The error is:
[code]

[2019-08-12 15:06] #31 closed

[2019-08-19 20:00] gmao-msienkie opened #33 "Bring in new NRL ACQC for use with variational aircraft temperature bias correction"
In July 2012 NCEP switched from using the aircraft quality control program developed by Julian (1989) to a new program adapted from the aircraft quality control program used at NRL.  This updated 'prepobs_prepacqc' replaces both the former prepacqc.x and the separate acarqc.x programs.

The variational aircraft temperature bias correction program uses the aircraft ascent/descent rates written in a

[2019-08-20 16:02] gmao-msienkie opened #34 "Fix OIQC to work with obs pressure < 1 hPa"
Bringing the change from NCEP to allow OIQC to handle obs with pressure level < 1 hPa.

NCEP RFC 5309
On WCOSS, job ‘cfs_cdas_prep’ failed in the ‘obsproc_oiqcbufr’ step due to one wind report having a pressure value less than 1 mb. The correction put into the ‘obsproc_oiqc.fd’ source code uses 1 mb as default if any observation reports a pressure value of less than 1 mb.

[2019-08-29 13:14] mathomp4 opened #37 "GEOSadas currently un-CMakeable"
Per @gmao-jstassi:

[code]
The issue is that GMAO_Shared 1.0.8 moved FMS. Fix is incoming.

[2019-08-29 13:17] mathomp4 opened #38 "Add GEOS ADAS Gatekeepers to CODEOWNERS"
The @GEOS-ESM/adas-gatekeepers should own all of the GEOSadas fixture

[2019-08-29 13:24] #38 closed

[2019-08-29 13:39] #37 closed

[2019-09-06 18:18] gmao-msienkie opened #43 "Crash in prepQC raobcore.x in v5.25.0"
/gpfsm/dnb04/projects/p72/msienkie/v5.25.0/GEOSadas/install/bin/gmao_prepqc: raobcore.x -o raobcor.%y4%m2%d2.%h2 -r /discover/nobackup/projects/gmao/obsdev/msienkie/g008_C180/fvInput/preproc/racor/biascor-1.4r.txt /gpfsm/dnb04/projects/p72/msienkie/fvwork.12302/prepqc.20180222.00/next.20180222.00
forrtl: error (65): floating invalid
Image              PC                Routine            Line

[2019-09-06 19:52] tclune commented on #43
@gmao-msienkie Do you think this is possibly related to the Git transition?   If so, please assign members of the SI team to investigate.  (bena-nasa and mathomp4)

[2019-09-06 20:16] gmao-msienkie commented on #43
It could be related, if the new build is done with different settings.
My initial purpose is documenting that this component is broken - luckily most of our work (except for reanalysis folks) doesn't involve running the prepQC (NCEP_Paqc).
I will add Ben and Matt to the issue so one of them could look at the build.  I can supply an example for testing.
I will be looking at the code (along with my

[2019-09-09 21:46] gmao-msienkie commented on #43
Here is a clue to the crash.  The first sounding in both the files I tested is at the South Pole.  When I created another file with just one sounding from a different station, the program was able to run without the floating invalid error.  The crash is in a formula for calculating distance on a sphere, when the program is recalculating balloon drift from the station.  I imagine if there is going

[2019-09-10 22:13] gmao-msienkie commented on #43
Line 801 in m_ellipsoid.f90 (subroutine DirSph)
xsq  = sina ** 2 + ( sinU1 * sins - cosU1 * coss * cosa12 ) ** 2

At the South Pole the first term (sina) is essentially zero - latitude is -90, sina=cos(lat)*sin(azimuth) but I imagine it evaluates to a very small term instead and I guess the square of that small term trips the 'floating invalid' error.  Perhaps the compilation is more stringent wrt

[2019-09-11 15:44] mathomp4 commented on #43
@gmao-msienkie,

First, do you mean `m_ellipsoid.f`? I cannot find a `.f90` file with that name in our codebase.

Second, I'm pretty sure the compiler options are fundamentally the same. In CVS:
[code]
and in CMake:
[code]
Now, we do have `-g -traceback -assume realloc_lhs` in CMake. It's possible this could cause an change, but I'd be surprised as it never has before. But the main options are in

[2019-09-11 16:02] gmao-msienkie commented on #43
That should be m_ellipsoid.f - sorry.
I was able to get the program to run if I pre-calculated the two terms in the equation on line 801 and then calculated xsq.  However, your comments prompted me to double-check.

The problem actually is - it needs to be compiled '-extend-source' !  It didn't fail compiling but the last part of the line " **2 " was cut off.  I haven't tested this yet but given w

[2019-09-11 20:21] gmao-msienkie commented on #43
I tried splitting the equation on line 801 onto two lines.  Testing this with my checkout of v5.25.0, it ran without a problen and produced zero diff to the BUFR files created by running executables in ~dao_ops/GEOSadas-5_25_1.
I see two choices - 1) go with splitting the line and trust that other routines in the directory do not have too-long lines in the code that still appears to compile OR 2)

[2019-10-16 16:12] mathomp4 opened #45 "Shell.pm not (easily) available on SCU14/15"
Per Amal, who is trying to run ADAS on SCU14:

[2019-10-16 16:17] mathomp4 commented on #45
Per @aoloso and NCCS, we are pretty sure any "simple" workaround will be exciting. You can:
[code]
but this is fragile if the version changes. You could install `Shell.pm` yourself in a non-versioned area, but that can be annoying.

You can do:
[code]
but `CPAN::Shell` does not exist on SLES11!

The real solution, I think, is to remove all dependence on `Shell.pm`.  Looking at an ADAS git clone, I

[2019-10-16 19:25] rtodling commented on #45
I'll look into this since I've been planning to run on the same machines as well.

[2019-10-16 19:40] gmao-msienkie commented on #45
These two are in my section (NCEP_Paqc) so I will have a look.  I already have a modification in OIQC pending so I can add any changes to that branch after testing.

Applications/NCEP_Paqc/oiqc/prepqc_daemon.pl
Applications/NCEP_Paqc/oiqc/prepqc.pl

(They say they use "cat" but do not, so I think I just need to test the rm->unlink.)

[2019-10-17 12:01] mathomp4 commented on #45
Yeah. I think a lot of them used to use `cat` to make a file, but got converted to here-documents. I'm sure between @gmao-jstassi and I we can figure out a more native Perl-y way to do any `Shell.pm` command. (Heck, there's always `system()`. :smiley:)

[2019-10-18 22:10] gmao-msienkie commented on #45
maybe a few more scripts to check, including the ever popular 'analyzer' and 'diag2ods'

[code]

[2019-10-21 15:11] mathomp4 commented on #45
Yeah. I realized my search was only looking at the `.pl` scripts. In truth, in our work with Amal in trying to get the 4dvar on SCU14 we found that it turns out `Shell.pm` is just fundamentally *different* than it is on SLES11. To the point that the *only* way forward (in my opinion) is to remove `Shell` from the scripts entirely. I did this by hand in a checkout and...well, it let the run go furt

[2019-11-08 19:11] gmao-msienkie commented on #34
An additional problem with OIQC was found.  The BUFR missing value was hardwired in the code as VMAX = 10e10.  In recent versions of the BUFR library the default missing value was changed to 10e10_8 which does not match the value used by OIQC - and the missing fields were being processed as actual 10e10 values.  A patch has been developed to use the BUFR library routine GETBMISS to set the missing

[2019-11-13 20:03] nacks commented on #45
This appears to be a SLES11 and prior vs SLES12+. SuSE chose to move Shell.pm under the CPAN directory in their base Perl installation. You can find the CPAN Shell module via: 'use CPAN::Shell qw' rather than just "use Shell qw".

Alternatively if you don't like what SuSE has done, installing your own version of perl rather than using the system one (that we can't really change as the OS has ton o

[2019-11-14 19:56] mathomp4 commented on #45
@nacks Actually, it's worse as the `Shell.pm` on SLES12 doesn't have the same capabilities as the `Shell.pm` on SLES11. Just moving to `use CPAN::Shell` didn't work. So, the "solution" was to actually just *remove* all of Shell if I could. Most places were using it for `rm()` and `cp()` and Perl has `unlink()` and a fairly standard `File::Copy` that can do this for us.

[2019-11-14 20:28] nacks commented on #45
Right, I was unable to get that newer CPAN::Shell to work for simple tests either. In other distributions Shell isn't even its own module. I think like you say you are better off using the built in perl5 unlink and File::Copy.

[2019-11-15 11:50] rtodling commented on #45
I've been looking at this stuff as well - I know you've done a lot of work to the perl scripts removing references to Shell - which is good. I have to say that I caught a few cases in which your changes were not robust enough. After some fiddling w/ CPAN::Shell stuff I realize that we cannot change to use this, if nothing else, because we'll break the SLES11 build.  But I was able to go around one

[2020-10-05 20:08] bena-nasa opened #47 "mkiau.x failing does not cause the g5das.j execution to terminate"
I've when testing the DAS to get GEOSadas-5_27_0 into Git, if mkiau.x fails rather. than trapping the error and halting the execution of the scripting it continues. It starts the GEOSgcm.x and fails because there is no agcm_import_rst since it was not generated in the last step.
It would be less confusing when debugging if the scripts failed immediately rather than try to go on and run the GEOSgcm

[2020-10-05 20:11] bena-nasa opened #48 "agcm_import_rst still binary"
When trying to get a version of GEOSadas-5_27_0 into Git, I noticed the agcm_import_rst is still a binary file.
This can be changed to netcdf by either removing this line entirely from the mkiau.rc
[code]
and it will default to binary or change to:
[code]

[2020-10-29 11:16] rtodling commented on #48
Not anymore.

This has been changed in GEOSadas-5_27__1 ... and in the corresponding Git under branch:

feature/rtodling/migrate-to-geosadas5271

[2020-11-03 20:17] #45 closed

[2020-11-23 22:11] gmao-msienkie opened #49 "Crash in gmao_prevents.x for MERRA2 prepbufr after 10-22-2020"
NCEP modified their processing to add surface marine data processed from BUFR input on 10/22/2020.  The 'prepdata.x' program used to produce the MERRA2 prepbufr files at NCEP had to be updated, and it would have been compiled with a new BUFRLIB.  The new version of prepdata.x writes latitude/longitude at higher precision than before.  Somehow between the updates prepdata.x and the BUFR library, th

[2020-11-24 00:39] gmao-msienkie commented on #49
Created branch bugfix/msienkie/#49-SP-interp-crash with modified code in NCEP_Paqc/GMAOprev/gblevents_gmao.f

[2020-11-24 20:45] mathomp4 commented on #49
@gmao-msienkie Is this something we should get into our upcoming Git-version-of-GEOSadas-5_27_1 version of GEOSadas? Or is it a possible non-zero-diff thing that is better to have wait until after that release?

[2020-11-24 21:00] gmao-msienkie commented on #49
Since the regular FP runs and most experiments that people run will be using the operational GDAS prepbufr files and not running the preprocessing QC.  So they are not affected by this change.  Maybe your system tests didn't include running with prepQC either.
I believe that prior to the data change on 10/22/2020 that this change will be zero-diff.  (I ran a couple tests just before the date to ch

[2020-11-24 21:13] mathomp4 commented on #49
Well, let us ping @rtodling here and see if he responds. We could add it to v5.27.1 or wait until the next tag. Either way, it's good to know the code is here!

[2020-12-01 22:09] bena-nasa opened #50 "Changes to GEOSgcm handling of tendencies requires update to das workflow when the model is updated."
Proactively noting this here now as it will need to be addressed as we move forward.
In the process of testing what happens when moving the GEOSadas-5_27_1 candidate to use the latest GEOSgcm version (i.e. all the repos used by the latest of that fixture) I found a failure due to a change in how the tendencies are handled.
In the History used by GEOSadas-5_27_1 we see this in the History.rc
[code]

[2020-12-02 15:58] bena-nasa opened #51 "Latest GEOS model version has gwd_import_rst"
Proactive note to remember an issue needed to be addressed as we move the model version forward from the initial 5_27_1 version.
The latest version of the GEOSgcm.x model in the Git GEOSadas fixture (10.14.0+) requires a gwd_import_rst (of course this can be bootstrapped). This needs to be added to the AGCMrc.pm accordingly when the GEOSadas fixture is moved to newer model versions.

[2020-12-02 16:05] bena-nasa opened #52 "Update fvcore_layout.rc (input.nml) handling when model version is updated"
Proactive note to remember an issue needed to be addressed as we move the model version forward from the initial 5_27_1 version.
From version 1.3.6+ the fvcore_layout.rc file has fields that must be filled out related to the hydrostatic/non-hydrostatic settings that are filled out by the gcm_setup script via user questions and/or resolution chosen.
In addition the fvcore_layout.rc file must be cop

[2020-12-02 16:12] bena-nasa opened #53 "Differences between AGCM.rc.tmpl in 5_27_1 @GEOSgcm_App version and in the latest version of @GEOSgcm_App"
Proactive note to remember an issue needed to be addressed as we move the model version forward from the initial 5_27_1 version.
There are inconsistencies between the version of the @GEOSgcm_App repo in initial 5_27_1 GEOSadas tag on git vs the latest version of the @GEOSgcm_App.
For example in the 5_27_1 tag AGMC.rc.tmpl has this for the ocean grid specification:
[code]
whereas in the latest vers

[2020-12-02 16:19] bena-nasa opened #54 "mkiau.x produces bad agcm_import_rst using latest model version in the GEOSfixture."
Proactive note to remember an issue needed to be addressed as we move the model version forward from the initial 5_27_1 version.
During my testing of taking the 5_27_1 candidate of the GEOSadas fixture to use the latest version of the libraries (GEOSgcm_GridComp etc) after fixing the other setup issues (#50, #51, #52, #53) the model runs 3 hours before segfaulting in radiation. If no agcm_import_r

[2020-12-02 19:36] bena-nasa commented on #54
A further development. I compared the agcm_import_produced by the stock code vs my attempt to update the libraries.
In the file from the stock code I see this when examining the values
[code]
vs my updated library version
[code]
That probably explains it. Will try to figure out what is happening.

[2020-12-02 21:42] mathomp4 commented on #54
@bena-nasa These are `cdo infon` outputs? So the fp numbers are min/mean/max values, right?

[2020-12-02 21:52] bena-nasa commented on #54
Yes, that was the most egregious example. Something clearly went wrong. My first guess is mkiau_GridComp.

[2020-12-14 21:11] bena-nasa commented on #54
I'm thinking this is a case of the iau grid comp and mkiau.F90 generate nx/ny differently. I'm modifying mkiau.F90 to compute nx/ny like the grid comp now does.

[2020-12-14 22:07] bena-nasa commented on #54
Yep, that was it, just an inconsistency with the IAU grid comp and mkaiu.F90 in the nx/ny used. The solution is to use MAPL_MakeDecomposition in mkiau.F90
I will keep this issue open for now so we don't forget this when the ADAS moves to using newer versions of the IAU grid comp

[2021-02-24 14:05] #43 closed

[2021-02-26 06:54] gmao-msienkie commented on #49
I have added this change to a catch-all branch with various modifications for PAQC (not including the NRL ACQC that we also need to bring in to the DAS).

[2021-02-26 11:54] sanAkel commented on #53
@bena-nasa and @GEOS-ESM/adas-gatekeepers

Reg the ocean, not sure why `MOM6` isn't in [adas-components.yaml](https://github.com/GEOS-ESM/GEOSadas/blob/main/components.yaml).

From:
- https://github.com/GEOS-ESM/GEOSadas/blob/b58a1293ea5928b3886141815ee903c566b19d38/components.yaml#L52-L57

And looking at the corresponding GCM GC:
- https://github.com/GEOS-ESM/GEOSgcm_GridComp/blob/75e253f2a761211

[2021-02-26 14:14] mathomp4 commented on #53
@sanAkel It is not in the ADAS `components.yaml` because of multiple reasons:

1. (Main reason) MOM6 is not in the CVS `GEOSadas-5_27_1_p3` tag. Our mandate was to get that CVS tag into Git. So that is what's there, essentially. MOM5 was there, MOM6 wasn't.
2.  It can't actually be added simply since the Guest CMake for the tag thinks MOM6 is a stub: https://github.com/GEOS-ESM/GEOSgcm_GridComp/bl

[2021-02-26 18:12] sanAkel commented on #53
thanks @mathomp4 I get it.

Reg the `"superset" of the GCM.` would it be possible to add 2 `components.yaml` as in:

so someone could have `adas_components.yaml`?
[code]

[2021-02-26 18:45] mathomp4 commented on #53
@sanAkel Well, the hope is that in the future, the `components.yaml` in GEOSadas will essentially be the same as the `components.yaml` in the GEOSgcm in terms of versions, etc. Just the GEOSadas one will have some extra repos (g5pert, GEOSana_GridComp, etc.)

[2021-02-27 02:05] #34 closed

[2021-02-27 02:06] gmao-msienkie commented on #34
Looks like this change was added to the preprocessing QC so the issue can be closed.

[2021-03-04 21:15] #49 closed

[2021-03-05 15:30] rtodling opened #62 "Fix for mispositioned fixed buoy"
This is to address the issue found by Gary, Meta and others above ship observation on the North Pole.

[2021-03-05 15:38] gmao-msienkie commented on #62
A quick scan/grep of the prepbufr files around that time revealed:

d210_18.SFCSHP:SID=46208   ,YOB= 90.00,XOB=270.00,ELV=    0.0,DHR= 1.000,TYP= 280.,NLEV=   1
d210_18.SFCSHP:SID=46208   ,YOB= 90.00,XOB=270.00,ELV=    0.0,DHR= 1.000,TYP= 180.,NLEV=   1
d211_00.SFCSHP:SID=46208   ,YOB= 90.00,XOB=270.00,ELV=    0.0,DHR= 0.000,TYP= 280.,NLEV=   1
d211_00.SFCSHP:SID=46208   ,YOB= 90.00,XOB=270.00,ELV

[2021-03-05 17:27] gmao-msienkie commented on #62
These observations were not flagged by the preprocessing, in part because OIQC is not run in the GDAS preprocessing any more.

[2021-03-05 22:36] gmao-msienkie commented on #62
I checked the prepbufr output from the prepQC in MERRA2, and found that the misplaced temperature observations had been flagged by the OIQC that we're running in the preprocessing (QM=6)
[oiqc_output.txt](https://github.com/GEOS-ESM/GEOSadas/files/6093793/oiqc_output.txt)

All those obs in the GDAS prepbufr had a quality mark of 2, which is passing QC.  Only the most basic QC is performed on SFCSH

[2021-03-07 05:59] gmao-msienkie commented on #62
There are two issues here.
First - observations that differ from the background by 20K are being accepted by the DAS.  Seems like the gross check parameters need to be adjusted.
Second - do we get very many of these observations?  If we're getting these kinds of obs often (e.g. maybe if lat/lon are bad or missing, it gets written as 90N at some point along the line?  Maybe something new with BUFR

[2021-03-10 18:32] gmao-yzhu opened #70 "PBL height assimilation"
This effort is to enable PBL height assimilation in the GEOS system.

[2021-03-10 18:33] gmao-yzhu commented on #70
The following code changes have been inserted by hand into the git GEOSadas:

   | src/Applications/GSI_App/GSI_GridComp.rc.tmpl
   |   src/Applications/GSI_App/GSIsa_Gaussian.F90

   | GMAO_hermes/dyn_iupd.F90
   |    GMAO_hermes/m_dyn.f90
   |   GMAO_hermes/m_dynp.F90

   |          GEOSaana_GridComp/GEOSgsi_Coupler/cplr_ensemble.F90
   |             GEOSaana_GridComp/GEOSgsi_Coupler/g5_pertmod.

[2021-03-11 20:03] rtodling opened #73 "Integrate RADMON into ADAS"
This is to track integration of RADMON procedures into ADAS. Please see Projects for steps.

[2021-03-11 20:07] rtodling commented on #73
I just added Matt to the mix in case we need some help managing the CMake and build parts of adding RADMON.

[2021-03-11 20:41] rtodling opened #74 "Pull GAAS triggers out of CSM"
I'd like to pull most scripting out of the CSM that refers to GAAS. I have scripts in GAAS_App that are exactly that - a getobs and run type scripts which at in some older version I had working for the ensemble. The same scripts could be called either by the central DAS or by he ensemble.

Since them, my scripts have likely fallen out of date, so some updating is needed, but we need to be able to

[2021-03-12 20:56] gmao-msienkie commented on #62
I found locations where the surface marine temperature observation (kx=180,kt=44) was at/near 90N (lat=89:90) by processing ODS files with odsselect.

foreach i ( f5271_fp.diag_conv.202102*ods )
   set dt = `echo $i | cut -d. -f3 `
   /discover/nobackup/projects/gmao/obsdev/msienkie/GEOSadas-5_27_1/GEOSadas/Linux/bin/odsselect -kx 180 \
      -kt 44 -lat 89:90 -qc ALL -o NP.$dt $i
end

I used odsl

[2021-03-15 16:09] rtodling opened #75 "Path created in monthly_setup.pl not generic"
Joe: not only does fvsetup has the issue w/ the non-generic reference to the path of FVROOT, but I am finding that so does monthly_setup.pl in GEOSdas_App.

The problem again is that the logic in the script is such that FVROOT ends up being something like  the absolute path:

FVROOT /gpfsm/dnb05/projects/p61/user/...

instead of the generic (relative) path:

FVROOT /discover/nobackup/projects/gmao

[2021-03-15 17:22] rtodling opened #76 "Usage of monthly.YYYYMM.pl is outdated"
We need to update the usage explanation part of the little scripts dropped in the run directory of ADAS that control running the monthly means/plots/etc ... for example "qos" is missing; "par" is missing ... there might be others.

[2021-03-15 19:52] rtodling opened #78 "Troubled gcm_quickplot.csh"
We talked about this a long time ago: the GEOSUtil/plot programs cannot point to the src, they must be installed.

Presently, the program gcm_quickplot.csh that falls under the monthly_plots directory has the following command line for quickplot:

$GEOSUTIL/plots/quickplot $PLOT_COMMAND

where the peanut gcm_plotX.j jobs define GEOSUTIL as

setenv GEOSUTIL         /discover/nobackup/projects/gmao/

[2021-03-16 05:44] gmao-msienkie commented on #62
It looks like less than 2% of the obs from these three stations are given wrong positions.  A bit more than 1% are given latitudes of 90N while other mispositioned obs are give longitudes of 270.  (Some have both latitude and longitude wrong.)  While there are some valid marine observations at 270 longitude there are no valid ships at 90N.
The issue could be fixed by discarding observations at 90N

[2021-03-16 15:45] saraqzhang opened #79 "coupling LDAS with ADAS"
@rtodling @gmao-jstassi @mathomp4 @gmao-rreichle
Modifications and addition in ADAS  scripts  for coupling LDAS with ADAS:
(1) with the option of LDAS-ADAS-coupling  on,  ADAS will run land analysis ( GEOS LDAS).  The resulting land increments  will be applied to AGCM  during the corrector segment.   The diag lfo collection during  the predictor segment will provide atmospheric forcing to LDAS ens

[2021-03-17 12:33] mathomp4 commented on #78
I think this is one place CVS and Git just *differ*. There are a few places if you compare Git and CVS that things like this have different code due to the difference in GNU Make to CMake.

In Git land (even in the ADAS tag), you'll see in `gcm_plot.tmpl`:
[code]
In CVS land, this is:
[code]

Now, in Git's `gcm_setup` script:
[code]
and `GEOSDIR` essentially evaluates to the `GEOSgcm/install` dire

[2021-03-18 16:50] gmao-msienkie commented on #62
I have tested a change that will skip over the observations from fixed buoys (TYP=180,280 T29=561).  I have tested this as a static analysis.  This change is on the branch bugfix/msienkie/badNPships

[2021-03-22 16:56] gmao-msienkie commented on #62
I have also written a program to run externally in preprocessing, to modify the pressure QM to purge (PQM=14) fixed buoy observations with latitude = 90N.
source: src/Applications/NCEP_Paqc/modify_bufr/flag_NPbuoy.f
branch: feature/msienkie/PAQC_modifications_v5_27_1_p3
(note there are a number of other modifications saved on the branch, to bring in various NCEP changes and other fixes)

[2021-03-24 17:22] rtodling commented on #78
The root of the problem is not in fvsetup or any of the main DAS scripts. The problem is in the monthly_means.pl scripts that job developed for wrapping Larry's implementation. And indeed, it is as you say, if you don't run the plot opts via Joe's scripts you'll not see the issue.

The best person to get this to work is Joe - your tips about are helpful to allow for a fix to be put in place.

[2021-03-25 17:09] gmao-jstassi commented on #78
Ricardo, I see the problem. I will have an update for you soon.

[2021-04-12 22:52] gmao-msienkie opened #82 "cft_update.x needs to be compiled with big-endian read of diag file"
in Applications/GMAO_Etc/GMAO_bias the program cft_update.x needs to be compiled with big_endian to be able to read conventional diag files.

[2021-04-12 23:10] gmao-msienkie commented on #82
The program runs if the environment variable FORT_CONVERT10 is set to 'big_endian' but not otherwise.

The GNUmakefile in CVS had "USER_FFLAGS = $(BIG_ENDIAN) $(DGEOS5)"

[2021-04-13 12:20] gmao-jstassi opened #83 "AOD parallel jobs"
The AOD job processing logic in the GEOSdas.csm file needs to be cleaned up.

In the 3DVar case, AOD can be run in parallel with GSI if enough CPUs are available for both. Otherwise, AOD should be submitted as a separate job, and GCM processing should be held up until AOD completes. This logic is pretty much already in the code.

In the ensemble case, AOD needs to be run prior to GSI processing. T

[2021-04-13 12:44] mathomp4 commented on #82
Oops. I guess I missed this. Well, first, it looks like `DGEOS5` is unneeded as, well, nothing in that directory has `#ifdef GEOS5`. But the big-endian needs to be fixed.

If you'd like to test, the solution should be to add:
[code]
to the `CMakeLists.txt` in `Applications/GMAO_Etc/GMAO_bias`

[2021-04-13 13:50] gmao-msienkie commented on #82
Thanks, Matt.  I looked for examples in other CMakeLists.txt files but the ones I saw changed compilation for all the executables.  The 'cft_update.x' is the only one that needs the 'big_endian', so your suggestion is right on track.  I will put that in and make a pull request.

We're not currently using this routine in the DAS.  It's being used in MERRA2, but in the current DAS we're now using a

[2021-04-13 13:52] mathomp4 commented on #82
@gmao-msienkie Ah okay. I just figured the CVS/GNUmake version was compiling everything with BIG_ENDIAN, so I decided to err on the side of caution.

[2021-04-13 18:47] gmao-msienkie commented on #82
OK.  I tried adding your suggestion but I don't think it worked.  So I decided to copy this from another CMakeLists.txt file

`if (CMAKE_Fortran_COMPILER_ID MATCHES Intel)
   string (REPLACE "${FPE0}" "${BIG_ENDIAN} ${FPE0}" CMAKE_Fortran_FLAGS_RELEASE ${CMAKE_Fortran_FLAGS_RELEASE})
endif ()
`
and was able to run the program.

[2021-04-23 22:51] rtodling commented on #52
Ben,
The run and fcst directories in your experiment hold copies of the fvcore_layout.rc file. If you need to change these you can do then locally; ultimately these two files (presently identical) come from Applications/GEOSgcm_App.

Now, mkiau.x is different. It actually uses input.nml ... that is a dummy one; when mkiau.rc runs, the scripts touch a file named input.nml - this is done main job sc

[2021-04-26 20:48] bena-nasa opened #88 "When using latest GEOS model in the DAS must use O-server"
Another issue related to updating the GEOSadas to use newer MAPL/Model versions

With changes to History to use the new O-Server and ESMF regridding, at the GEOSadas scales (c720, ~80 collections) it is necessary to use the o-server to achieve optimal performance. We have been benchmarking the DAS history with the latest version of MAPL that has the newest o-server options.
It was found that on th

[2021-04-27 12:04] rtodling commented on #88
Ben: What's the GCM layout in this configuration (NX, NY)?
Also: I assume you are referring to the version of the GCM in FP (5.27.1) ... which does not use MAPL2.0 - am I right?

[2021-04-27 14:45] bena-nasa commented on #52
Hi Ricardo, I'm not seeing any reference to input.nml in the g5das.j I'm looking at.

[2021-06-04 14:26] rtodling opened #97 "monthly mean program not to copy data when data in live directory"
By defaults when the monthly means jobs run each  relevant history stream is copied from archive to the a temporary directory when the monthly means run. The copying is not needed when the "archive" is actually a local directory visible in batch.

I suggest in cases when the env var ARCHIVE is not /archive/u/SOMETHING (at NCCS), that we actually replace the copying w/ a link of the data from "arch

[2021-07-25 22:26] jing-guo opened #106 "Crashed on build GEOSadas with ld errors, using so libs"
My build of GEOSadas with a tag d2d3c85 (HEAD -> feature/rtodling/GEOSadas-5_29_0) has failed.  This crash is consistent with many crashes I had in the past with different tags.

My build was done through parallel_build.csh, with error messages:

...

...

...

This part of code has not been the focus of my development, so I had kind of ignored these crashes for sometime.  If I marked off relevant

[2021-07-26 11:19] tclune commented on #106
Can you post the full (serial) build log?   The primary error is undoubtedly before the lines that you report above.    Easiest way to do this is to go into your existing build dir and do a make clean and then `make` (with no `-j` option) and piping the output to  a file.  (Shell dependent.)

[2021-07-26 12:57] mathomp4 commented on #106
I just cloned GEOSadas v5.29.0.1 and I can build it just fine. The error you are seeing seems more in my mind to be a "Intel having a bad day" or "running out of inodes" sort of thing (i.e., it's so weird, I have to think it's something funky on discover).

So, first, can you make sure you aren't near the inodes limit on the file system you are building on? If that looks fine, can you try building

[2021-07-26 13:49] mathomp4 commented on #106
@jing-guo An update. I'm thinking you have found a fancy new issue. I found your build at:
[code]
and realized you had commas in places I've never used. So I tried building in a directory that contained a comma:
[code]
instead of my default:
[code]
and it failed in a similar way.

Until we can figure this out (I'm guessing CMake is maybe handling commas in a weird way?), do you think you can try t

[2021-08-12 18:44] jing-guo commented on #106
Thank you all.  Sorry I spent most of my time either working with underneath git environment or emails, not very familiar with gitHub web interfaces to quickly track the discussion.  That is, until today I decided to spend some time to familiar myself with new github web interfaces and processes, which is certainly more colorful than I had realized.

In particular thank your analysis nailed down t

[2021-08-12 18:58] mathomp4 commented on #106
@jing-guo If you want to see the actual commands, you can do:
[code]
which will turn off everything CMake hides. So this:
[code]
say becomes:
[code]
So...much more verbose!

Note that goes a loooooong way to the right. On a terminal it'll like:

/usr/local/intel/2020/compilers_and_libraries_2020.4.304/linux/bin/intel64/ifort     -Wl,--disable-new-dtags -Xlinker --enable-new-dtags -Xlinker -rpath -

[2021-08-13 17:35] tclune commented on #106
And you can do this for specific targets if you don't want to see it for the whole model.  (But you'll still see it for any out of date dependencies of said target.)

[2021-08-30 18:32] jing-guo commented on #106
Great!  I consider this issue has resolved, and close it for now.

[2021-08-30 18:32] #106 closed

[2021-09-17 18:56] gmao-jstassi opened #111 "Pass alternate ARCHIVE to pyradmon from GEOSadas"
This is a bug fix in the pyradmon integration in the GEOSadas processing to pass an alternate ARCHIVE location from GEOSadas to the pyradmon code to use instead of the default $ARCHIVE value.

This update also contains the $datamove_constraint variable and logic which Ricardo was planning to add to the code. He said that including these changes with this update would have no impact.

file:  src/Ap

[2021-10-14 15:35] bena-nasa opened #118 "GEOSadas does not build and will not run GSI when using cmake "DEBUG" build type."
While trying to track a crash in the GSIsa.x I decided to see what the status of the "DEBUG" build type is in CMAKE using the rt-GEOSadas-5_29_2 tag. I found that it neither builds, nor does the GSIsa.x run successfully. I will summarize here.
First the build
1.) At least until Intel 19 (maybe fixed in 2021) there is a persistent random ICE when building  Ada_Module.F90 in NCEP_CRTM and seems to o

[2021-10-26 12:56] gmao-jstassi opened #119 "Check consistency between job input files and fvsetup"
In CVS, the runjob script checked for tag consistency with the input file before executing. This feature was lost when the code was moved to the git repository. It will be replaced by a consistency check between the input file and the fvsetup script. This is actually a better check since several DAS tags can share the same version of fvsetup, so it doesn't matter if the tag changes if fvsetup hasn

[2021-11-02 00:14] #111 closed

[2021-11-02 00:15] rtodling commented on #79
This is now folded into rt-GEOSadas-5_29_3 the upcoming v5.29.3 release

[2021-11-02 00:15] #79 closed

[2021-11-02 00:18] rtodling commented on #54
Is this still an issue? Do we have a problem running IAU that is going unnoticed. This is unclear to me!

[2021-11-02 00:20] rtodling commented on #51
Is this mixing two things? What's mkiau got to do w/ gwd_import_rst ... and by the way: the latter is already in AGCrc.pm.

Can this issue be cleared?

[2021-11-02 00:22] rtodling commented on #52
This is already done in 5.29.3 - I'm closing this.

[2021-11-02 00:22] #52 closed

[2021-11-02 00:34] rtodling commented on #50
Is this a real issue? How is it that the model in 5.29 (v1.12.4) does not complain about this and writes out doxdtdyn ?

[2021-11-02 00:35] rtodling commented on #73
As far as I know, this is done. Closing this.

[2021-11-02 00:35] #73 closed

[2021-11-02 00:36] rtodling commented on #73
This is done.

[2021-11-02 00:37] rtodling commented on #118
Ben, are you know able to compile/run GSI w/ debug on? Can we close this, or do we still have problems?

[2021-11-02 17:14] bena-nasa commented on #54
It appears to be fixed. If I look in the develop branch of the GEOSadas fixture and look in mkiau.F90 I see it call MAPL_MakeDecomposition as I suggested so I must have done this when we were making the git tag for the ADAS.

[2021-11-02 17:15] bena-nasa commented on #54
I'm closing this issue as it has been fixed

[2021-11-02 17:15] #54 closed

[2021-11-15 16:07] rtodling commented on #88
Question on this: how does the total number of PEs about relate to the ncpus-per-nodes?  So, we are on skylake w/ ncpus-per-node=40 but requesting a batch job w/ ncpus-per-node=36 would the math leading up to the number 5720 above change, that is,

5720 = 5400 + (8 * 40)

in the case of 36 should I have the entry in the option -np change to

5400 + (36*8) = 5688

?

[2021-11-15 16:12] bena-nasa commented on #88
Yes, if you are only running 36 cores per node then you would change the -np to 5400 + (36*8) = 5688
In general the -np XXX needs to be equal to or great than: (npes_model = nx*ny + (--nodes_output_server)*cores_per_node

[2021-11-15 16:26] bena-nasa commented on #88
More clarification, the infrastructure is detecting the node information and partitioning the MPI communicators between the nodes as appropriate. The npes_model does not have to be evenly divisible by the number of nodes and if there are few left over mpi tasks, those just aren't used by either the model or o-server. So just to makeup numbers, lets say you had 23 cores per node and needed 540 mpi

[2021-11-15 17:00] bena-nasa opened #129 "Benchmarking DAS History.rc in isolation"
An idea:

One long-standing issue with ensuring the ADAS model configuration has acceptable performance, is that testing the DAS history is only practical by running the das. The reason for this is that the History.rc files are templatedand are only un-templated when the DAS machinery is run as the code that does this is deep inside one of the DAS scripts.
Also one important distinction between ru

[2021-11-22 22:20] gmao-msienkie commented on #62
GEOSana_GridComp PR # 23 included a fix for this issue.  The code was merged in at the end of May and the PR was closed on Jun 3.

[2021-11-22 22:20] #62 closed

[2021-11-29 19:04] saraqzhang opened #134 "add ldas analysis increments in fcst"
In land-atm coupled DAS (LADAS) experiments, the LDAS analysis increments are applied along with atmospheric IAU during the AGCM Corrector segment.
For consistency, the LDAS increments also need to be applied during corresponding time period in forecasts issued from a land-atm coupled DAS experiment.  This still needs to be implemented.

[2021-11-30 16:23] saraqzhang opened #135 "fix land forcing collection template in HISTENS.rc.tmpl"
add member information to the file name template, complying  with the file name convention expected by atmens scripts.

[2021-12-13 18:07] #135 closed

[2021-12-17 14:03] #134 closed

[2022-01-06 16:57] briardew opened #151 "Add CoDAS functionality"
Issue for my work bringing CoDAS back into the fold.

[2022-02-04 23:23] sanAkel opened #153 "Ricardo: Gather a BSLN experiment"
Ricardo: points us/gathers or _saves_ a "long" lived x-exp (atmospheric DA at C360)

[2022-02-11 16:32] sanAkel commented on #153
/discover/nobackup/projects/gmao/dadev/rtodling/archive/Restarts/x0045/rs/Y2020/M11/x0045.rst.20201129_21z.tar

[2022-02-11 16:36] rtodling commented on #153
Script pointing to BCS:

/discover/nobackup/projects/gmao/dadev/dao_it/Winter_Runs/x0045a/run/lnbcs

[2022-02-11 16:37] sanAkel commented on #153
Hi @atrayano please see above documentation. Thanks!

[2022-02-11 16:37] #153 closed

[2022-02-14 15:41] #118 closed

[2022-03-01 16:21] gmao-jstassi opened #161 "Updates to 5_29_4 tag"
(modified) monthly_means.pl: Modified to use get_htype() routine from Manipulate_time.pm
(modified) monthly_tarandclean.j.tmpl:  Modified to get fileTemplate using a label which is replaced with value
(new file) testsuites/update_input_IDs.pl:  This is a new file that will update the fvsetupID and codeID values in the testsuites *.input files

[2022-03-09 13:41] gmao-jstassi opened #166 "Problem with traj_lcv_rst entry in the DAS run directory resource files"
During DAS job setup, the traj_lcv_rst collection is not being handled correctly, which affects how it is added to the following files:
- monthly.arc
- monthly.keep.arc
- monthly.rc
- mstorage.arc
- silo.arc

The solution is a one-line fix in the edhist.pl script.

[2022-05-09 14:22] gmao-jstassi opened #177 "Update write_monthly_rc_arc.pl script to add hourtype for traj_lcv_rst to monthly.rc"
The monthly processing is unable to deduce the hourtype for traj_lcv_rst from the collection name, so the hourtype needs to be added to the monthly.rc file.

[2022-05-13 20:28] rtodling commented on #177
Far as I know this is done

[2022-05-13 20:29] rtodling commented on #177
See GEOSadas-5.29.4-p1

[2022-05-13 20:29] #177 closed

[2022-05-13 20:31] rtodling opened #180 "Missing for GEOS-IT"
The tag GEOSadas-5.29.4-p1 has most of the changes requested to make up GEOS-IT. The GEOSadas-Wiki has a pointer to latest additions (incorporated in this tag).

Here is a list of pending issues:

1. SST/SeaIce boundary conditions need to be defined.
2.

[2022-05-23 03:22] rlucches opened #183 "Rob test issue"
This is a test from github.com.  account: rob.lucchesi@nasa.gov

[2022-06-03 12:41] gmao-jstassi opened #185 "fvsetup: define $ARCHIVE in fstats_run job script"
If the forecast statistics need to be rerun after a job has completed and the experiment is using a non-default $ARCHIVE location, then the fstats_run job script will not be successful unless ARCHIVE is set properly in the window environment that runs the job. To avoid this problem, fvsetup will be modified to define the ARCHIVE variable within the fstats_run script.

[2022-06-03 13:27] gmao-jstassi commented on #185
An unrelated update needed in fvsetup is a needed syntax correction, as pointed out by Meta S.

             cat \$PBS_NODEFILE | tail +2 > \$FVWORK/GCM_list

needs to be changed to

             cat \$PBS_NODEFILE | tail -n +2 > \$FVWORK/GCM_list

[2022-06-13 19:19] bena-nasa opened #187 "GSIsa.F90 needs updating when moving to newer MAPL"
@rtodling  I was testing the development branch of the GEOSadas repository with the MAPL develop branch. After building I hit an error that will require a small change to how the timers are started in the GSIsa.F90. So after moving to the newer MAPL version you will have to do, you will need to merge the changes to GSIsa.F90 in this branch:

https://github.com/GEOS-ESM/GEOSadas/tree/feature/bmauer

[2022-06-13 19:35] bena-nasa opened #188 "DAS scripting needs to clean up bkg files from previous segment before GEOSgcm.x runs"
@rtodling
I was attempting to run essentially the develop branch of the GEOSadas for reasons that are not pertinent to this issue and run the basic C48f test case which must have not been tested in this branch.
I hit an issue that you will need to resolve that will require proper removal of the bkg files needed by mkiau.x after it runs and BEFORE GEOSgcm.x runs. Here are the details:

I when I ran

[2022-06-13 20:12] #183 closed

[2022-08-17 14:20] bena-nasa commented on #129
@rtodling @mathomp4 @sdrabenh

Just following up on this based on mail traffic today, myself and Matt are probably the only one who care about this issue but... It really would make an awful lot of sense if there was ONE script (preferably written in Python) that untemplated the History.rc templates that everyone gcm_setup/where every buried deep in the das scripting it occurs/XXX_setup used.
Look

[2022-08-23 16:26] gmao-jstassi opened #198 "Update GEOSdas.csm to handle local acquire for gaas_obs"
The GEOSdas.csm file is modified to handle local acquire of gaas_obs data using the entries in the obsys-gaas.rc file.

[2022-09-29 13:30] rtodling opened #215 "GEOS-IT 5.29.4-p3 still missing stuff (1)"
I am attempting to collect all know issues in a single place. We now have emails that have talking about items that are troubled in that tag, but the emails are scattered, disconnected from each other at times, and items are redundantly numbered.

Note that addressing some of these involve changes to repos other than the GEOSadas fixture. Whenever addressed, those repos should refer to this issue

[2022-09-29 13:44] elakkraoui commented on #215
- Items 2 and 4 are not issues.
- item 11 should be: add "patmosx_ods,mod04_061_flk,myd04_061_flk"
- items 1 and 16 are the same. Unless the issue you noticed is really in sat.db not oz.db.
- item 17 would be addressed with Jianjun's PR.

[2022-09-29 16:23] rtodling commented on #215
17. GEOSana_GridComp: PR#108

[2022-10-03 10:34] rtodling commented on #215
1. Fixed in https://github.com/GEOS-ESM/GEOSana_GridComp/pull/109
2. turned out not to be the case
3. Fixed in https://github.com/GEOS-ESM/GEOSana_GridComp/pull/109
4. n/a
5. Fixed in https://github.com/GEOS-ESM/GEOSana_GridComp/pull/109    (no need to change obeys.rc)
6. n/a
7. n/a
8. n/a
10.

[2022-10-03 10:59] rtodling commented on #215
Also included:

https://github.com/GEOS-ESM/GEOSana_GridComp/pull/110

[2022-10-03 18:16] elakkraoui commented on #215
Ricardo, can I add one last item to the list (it came up at our reanalysis meeting today)?

21- Add historical gmi version 7 to obsys.rc with a transition to NRT files in 20220101

BEGIN geosit_gmi_bufr => gmi.%y4%m2%d2.t%h2z.bufr
  20140401_00z-20211231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/gmi_v7/bufr/Y%y4/M%m2/gmi_v7_L1CR.%y4%m2%d2.t%h2z.bufr
  20220101_00z-21

[2022-10-03 22:08] rtodling commented on #215
I'll do it Amal, but it still blows my mind what GEOS IT is carrying GMI - it's assimilated, and even as passive it has questionable use ... anyway.

[2022-10-04 10:41] elakkraoui commented on #215
Ricardo, GEOSIT is not assimilating GMI, it is to be monitored only.

[2022-10-05 10:12] rtodling commented on #215
Still more:

I forgot that Rob has a modified GEOSadas.csm in the run dir ... I have now included that in a tag.

[2022-10-05 10:15] rtodling commented on #215
Amal, I know the run is not assimilating GMI - I was the one who removed the date from the 3dvar to begin with; I'm just not sure about the value of using it for monitoring but so be it ...

[2022-10-05 16:18] rlucches commented on #215
Thanks ... I noticed that.

Rob

On Wed, Oct 05, 2022 at 03:13:07AM -0700, rtodling wrote:

--

-----------------------------------------------------
Rob Lucchesi SSAI         ***@***.***
Global Modeling and Assimilation Office (GMAO)
Operational Software Group            (301) 614-6182
Code 610.1
NASA-Goddard Space Flight Center
Greenbelt, MD 20771
------------------------------------------------

[2022-10-06 15:06] rtodling opened #222 "Terra MODIS being put on hold Oct 2022"
This is to layout all the steps and changes needed by OPS to put any data we use from Terra MODIS on hold.

**For GSI**: what RC/TXT files need to be edited to turn off the data and KXs are we talking about (e.g., global_convinfo) ?

Please notice that handling this in 5.29.5 and GEOS-IT is a matter of editing the convinfo data base.

**For GAAS**: what needs to be edited to put a hold on the data

[2022-10-06 15:49] gmao-yzhu commented on #222
I think the kx values of 257, 258, and 259 are for MODIS winds, but I’m not sure which one (783 or 784) is corresponding to Terra. I have asked Meta and Austin to confirm the satellite.

[2022-10-06 21:05] gmao-yzhu commented on #222
Mark, For MODIS winds, I will leave it to you to decide whether you’d like to directly edit gmao_global_convinfo.rc in the FP to turn off kx 257, 258, 259 with subtype 783, or you’d like to depend on the availability of the satwnd bufr files.

[2022-11-01 08:39] gmao-jstassi opened #230 "Convert edhist.pl perl script to python, edhist.py"
The edhist.pl perl script is overly complex because perl cannot easily represent the data structure of the HISTORY.rc file. The python language is better equipped to handle the complicated data structure, and therefore the python version is easier to understand and to maintain.

[2022-11-04 15:15] bena-nasa opened #232 "Das script will need to be updated to handle ExtData2G"
@rtodling
This is a public service announcement based on expected changes coming to the model.

All the chemistry codes are in the process of transitioning to use the new version of ExtData which uses yaml files rather than rc file. This is just a heads up that the DAS scripting will undoubtedly need to be updated to handle this. But is gets less complicated not more!

For now both versions (the r

[2022-11-04 20:08] bena-nasa commented on #129
@rtodling @tclune @sdrabenh
Just pinging this issue again I don't want it to get lost, this would be **very, very, very, very** useful, it would make development and testing of History much easier.
Once again I'd be very happy to do this...

[2022-11-07 15:26] rtodling commented on #188
What I don't understand is: why would overwriting a file depend on what the existing file has. Unless, NC4 overwriting is a very different beast than binary overwriting. Binary overwriting of a sequential file could not care less what was in the original file. But perhaps NC4 opens the content list ... and then, sure, if something got added or removed it would be a problem.

In any case, I will wo

[2022-11-30 19:25] bena-nasa opened #233 "mp_stats.x broken"
User @gmao-emcgrath was testing some particular GEOSadas workflow flavor that apparently exercises mp_stats.x, looks like this is broken if the input and output resolutions do not match (which means a regrid is done underneath). The issue is that the grid is not created via the MAPL grid manager.

In addition while testing this I found a flat out bug in the gbl2lcl_ routine, it was using a variabl